<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统监控管理平台</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script type="text/javascript" src="js/json.js"></script>-->
    <link href="../static/css/demo.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="../static/css/pe-icon-7-stroke.css" rel="stylesheet"/>
</head>
<body>
<table class="table table-hover table-striped">
    <thead>
    <th>Docker_Id</th>
    <th>Docker_Name</th>
    <th>Docker_Status</th>
    <th>Docker_operation</th>
    </thead>
    <tbody >
        <tr th:each="docker:${dockerList}">
            <td th:utext="${docker.docker_id}"></td>
            <td th:utext="${docker.docker_name}"></td>
            <td th:if="${docker.docker_status} == false" id="color2" style="color: red">运行故障</td>
            <td th:if="${docker.docker_status} == true" id="color0" style="color: green;">运行正常</td>
            <td><button type="submit"  th:id="${docker.docker_id}"  class="btn btn-info btn-fill pull-left" onclick="restart(this.id)">Restart</button>
                <button type="submit" th:id="${docker.docker_id}" class="btn btn-info btn-fill pull-left" style="background-color: green;border-color: green" onclick="start(this.id)">start</button>
                <button type="submit" th:id="${docker.docker_id}" class="btn btn-info btn-fill pull-left" style="background-color: red;border-color: red" onclick="stop(this.id)">stop</button></td>
        </tr>
    </tbody>
</table>
<div class="header">
    <h4 class="title">Click this button to redeploy the system</h4>
    <button type="submit" class="button-server btn btn-info btn-fill pull-left " onclick="package()">Package-Server</button>
    <button type="submit" class="btn btn-info btn-fill pull-left button-server" onclick="packageweb()">Package-Web</button>
    <button type="submit" class="btn btn-info btn-fill pull-left button-server" onclick="serverLog()">serverLog</button>
</div>


<script type="text/javascript">
    function restart(id) {
        if(window.confirm('你确定要重启本服务吗？')){
            $.ajax({
                type: "GET",
                url: "/shell/restart?dockerid="+id,
                dataType: "json",
                success: function(data){
                    console.log(data);
                }
            });
            return true;
        }else{
            return false;
        }
    }
    function start(id) {
        if(window.confirm('你确定要启动本服务吗？')){
            $.ajax({
                type: "GET",
                url: "/shell/start?dockerid="+id,
                dataType: "json",
                success: function(data){
                    console.log(data);
                }
            });
            return true;
        }else{
            return false;
        }
    }
    function stop(id) {
        if(window.confirm('你确定要关闭本服务吗？')){
            $.ajax({
                type: "GET",
                url: "/shell/stop?dockerid="+id,
                dataType: "json",
                success: function(data){
                    console.log(data);
                }
            });
            return true;
        }else{
            return false;
        }
    }
    function package() {
        if(window.confirm('你确定要重新部署吗？一经部署从前容器将全部销毁')){
            window.open("/shell/package");
            return true;
        }else{
            return false;
        }

    }
    function packageweb() {
        if(window.confirm('你确定要重新部署前端页面吗？')){
            window.open("/page/package");
            return true;
        }else{
            return false;
        }

    }
    function serverLog() {
        window.open("/shell/server0log");
    }
    //自动刷新
    var int=self.setInterval("clock()",5000);
    function clock() {
       window.location.reload();
    }
</script>

</body>
</html>

