<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统监控管理平台</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script type="text/javascript" src="js/json.js"></script>-->
    <link href="css/demo.css" rel="stylesheet"/>
    <link href="css/animate.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet"/>
</head>
<body>
<table class="table table-hover table-striped">
    <thead>
    <th>Docker_Id</th>
    <th>Docker_Name</th>
    <th>Docker_Status</th>
    <th>Docker_restart</th>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<div class="header">
    <h4 class="title">Click this button to redeploy the system</h4>
    <button type="submit" class="btn btn-info btn-fill pull-left" style="background-color: red;border-color: red" onclick="package()">Package</button>
</div>


<script type="text/javascript">
    function restart(id) {
        if(window.confirm('你确定要重启本服务吗？')){
            $.ajax({
                type: "GET",
                url: "/shell/restart?dockerid="+id,
                dataType: "json",
                success: function(data){
                    console.log(data);
                }
            });
            return true;
        }else{
            return false;
        }
    }

    function package() {
        if(window.confirm('你确定要重新部署吗？一经部署从前容器将全部销毁')){
            window.open("/shell/package");
            return true;
        }else{
            return false;
        }

    }
</script>
<script type="text/javascript">
    function getdocker() {
        $.ajax({
            type: "GET",
            url: "/shell/docker",
            dataType: "json",
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    var status = "";
                    getstatus(i);
                    status += "<td id='color" + i + "' style='color: red'>运行故障";
                    var str = "<tr>\n" +
                        "        <td>" + data[i].docker_id + "</td>\n" +
                        "        <td>" + data[i].docker_name + "</td>\n" +
                        status + "</td>\n" +
                        "        <td><button type=\"submit\" id='"+ data[i].docker_id + "' class=\"btn btn-info btn-fill pull-left\" onclick=\"restart(this.id)\">Restart</button></td>\n" +
                        "    </tr>";
                    $("#tbody").append(str);
                }
            }
        });
    }
getdocker();
    function getstatus(id) {
        $.ajax({
            type: "GET",
            url: "http://188.131.133.29:808"+id+"/psi/utils/ping",
            dataType:'jsonp',
            jsonp:'callback',
            jsonpCallback:"successCallback",
            success: function (data) {
                console.log(data);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                if (XMLHttpRequest.status==200){
                    document.getElementById('color'+id).style.color = 'green';
                    document.getElementById('color'+id).innerText = '运行正常';
                }
            }
        });
    }
</script>
</body>
</html>

